@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none; 
  
}

#window-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#nav-container {
    background-color: #e14557;
    display: flex;
    justify-content: center;
    width: 100%;

}

nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
    

}

.navdiv {

    display: flex;

}

.navlinks {
    padding: 0 0 0 40px;
}

h3 {
    color: white;
    font-size: 1.5em;
}

#site-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    
}

h1 {
    font-size: 12em;
    padding: 0;
    margin: 50px 0 0;
    color:  #e14557;
}

#elements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: rgb(95, 92, 92);

}

.landing-page-text {
    font-size: 1.5em;
}

#explore-container{
    margin: 30px;
}

#explore-box {
    
background-color:  #e14557;
border-radius: 10px;
width: 800px;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
box-shadow:0px 3px 3px 2px rgb(170, 166, 166);

}

#explore-text {
    color: white;
    font-size: 3em;

}

/* page 2 */

#subtitle-container {
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow:0px 3px 3px 2px rgb(170, 166, 166);
    
}

#subtitle-box {
    display: flex;
    justify-content: center;
    width: 800px;


}


.subtitle {
    color: rgb(95, 92, 92);
}

#quizzes-container {
    display: flex;
    margin: 50px 0px 0px 0px;
    flex-wrap: wrap;
}

.quizbox {
    width: 245px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:0px 3px 3px 2px rgb(170, 166, 166);
}

#quizbox-1 {
    background-color: red;
   
}

#quizbox-2 {
    background-color:orange;

   
}

#quizbox-3 {
    background-color: blue;
   
}

#quizbox-4 {
    background-color:purple;
   
}

#quizbox-5 {
    background-color:green;
   
}

#quizbox-6 {
    background-color:lightslategray;
   
}


.what {
    color: white;
    font-size: 2em;
    padding: 5px;

}

.quiz-name {
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    align-self: center;

}

.are-you {
    color: white;
    font-size: 2em;
    align-self: flex-end;
    padding: 5px;
}

/* page 3 */

#quiz-window {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow:0px 3px 3px 2px rgb(170, 166, 166);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quiz-text-intro {
    font-size: 2em;
    padding: 1px 40px;
    
}

.quiz-text-outro {
    font-size: 2em;
    padding: 1px 40px;
    
}

input {
    height: 50px;
    width: 300px;
    margin: 0 0 50px;
    font-size: 1.5em;
    border-radius: 5px;
    
}


#lets-go-box {

background-color:  #e14557;
border-radius: 10px;
width: 400px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;
box-shadow:0px 3px 3px 2px rgb(170, 166, 166);

}

#find-my-quiz-mates-box {
    background-color:  #e14557;
    border-radius: 10px;
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px 3px 3px 2px rgb(170, 166, 166);
    
    
    }

#letsgotext{
    color: white;
    font-size: 2em;
    font-weight: bold;
    

}

#find-my-quiz-mates-box-text {
    color: white;
    font-size: 2em;
    font-weight: bold;
    justify-self: center;
    
}


#city-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
}

#city-outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    
    
}


/* Page 4 questions */



.quiz-question-or {
    display: flex;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    justify-content: center;


}

.picture-box {
    width: 100%;
    display: flex;
    justify-content: center;

}

.pictures-frame {
    width: 350px;
    height: 350px;
    background-color: red;
    margin: 0 15px ;
    border-radius: 10px;
}

.picture {

    max-width: 100%;
    border-radius: 10px

}

.page-number {
    display: flex;
    justify-content: flex-end;
}

/* quiz evil */

#evil-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

#evil-outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;